body {
    font-family: 'Open Sans', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .primary-action {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: #efefef;
}

h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #111;
    font-size: 4em;
}
h1 span {
    display: block;
    font-size: 0.5em;
    margin: 0.7em 0;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    margin-bottom: 1.5em;
}
/* Navbar modifiers */
.no-margin {
    margin: 0;
}

/* Background video */
video#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}

/* Links and buttons */
a, a:active, a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.btn-primary {
    border: 0;
    padding: 1em 1.5em;
    display: inline-block;
    margin: 1.5em 0 0;
    border-radius: 0;
    width: auto;
}

/* Main banner */
.jumbotron {
    background: transparent;
    padding-top: 0;
}
.jumbotron h1 {
    color: #efefef;
    font-size: 4em;
}
.jumbotron p {
    font-size: 1.2em;
}
.bg-box {
    background: rgba(0,0,0,0.7);
    padding: 3em 4em ;
    color: #efefef !important;
    font-size: 0.85em;
    width: 90%;
    margin: 6em auto 9em;
}

/* Section 1 - base settings */
#section-one {
    padding: 8em 0 10em;
    margin: 1em 0;
    opacity: 0.9;
}
#section-one p {
    margin: 3em 0;
    font-size: 1.3em;
}
#section-one blockquote {
    font-size: 2.5em;
    border: 0;
}
#section-one > .row {
    display: flex;
}
#section-one .row > div {
    flex: 1;
}


    /* Section 2 - base settings */
#section-two {
    padding: 8em 0;
    background: rgba(17,17,17,0.9);
    color: #eee;
    font-size: 1.3em;
    text-align: left;
}
/* Section 3 - base settings */
#section-three {
    background: rgba(0,0,0,0.9);
    color: #eee;
    font-size: 1.3em;
    text-align: left;
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
}

#section-three .row div {
    min-height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-three h3 {
    background-color: rgba(0,0,0,0.8);
    padding: 0.7em 1em;
    z-index: 2;
    font-size: 1.7em;
}
#section-three h3 a {
    color: #fff;
}
#section-three h3 a {
    color: #fff;
}

#section-three #reputation {
    background: url("../images/home-reputation-bg.jpg") no-repeat;
}
#section-three #sacrifice {
    background: url("../images/home-sacrifice-bg.jpg") no-repeat;
}
#section-three #her-story {
    background: url("../images/home-her-story-bg.jpg") no-repeat;
}
#section-three #family {
    background: url("../images/home-family-bg.jpg") no-repeat 0 100%;
}
#section-three #separation {
    background: url("../images/home-separation-bg.jpg") no-repeat 25%;
}
#section-three #advice {
    background: url("../images/home-advice-bg.jpg") no-repeat;
}
#section-three #heartache {
    background: url("../images/home-heartache-bg.jpg") no-repeat;
}
#section-three #legacy {
    background: url("../images/home-legacy-bg.jpg") no-repeat;
}
#section-three #reputation, #section-three #sacrifice, #section-three #her-story, #section-three #family, #section-three #separation, #section-three #advice, #section-three #heartache, #section-three #legacy {
    background-size: cover;
    filter: brightness(0.4) sepia(1) hue-rotate(270deg) saturate(0.3) blur(0);
    display: block;
    position: absolute;
    width: 100%;
}
#section-three .row div {
    overflow: hidden;
}
#section-three .row div:hover {
    filter:  contrast(85%);
}
#section-three .row div > div {
    transform: scale(1);
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    z-index: 1;

}
#section-three .row div:hover > div {
    transform: scale(1.1);
    filter:  blur(0px) !important;
    cursor: pointer;
}


/* -- Video filter settings and overlay -- */
.video-wrapper {
    background-color:    #000;
    display:             flex;
    flex:                1 1 100%;
    height:              100%;
    overflow:            hidden;
    padding:             1%;
    position:            relative;
}
.video-wrapper video {
    flex:                1 0 100%;
    height:              100%;
    max-width:           100%;
    mix-blend-mode:      unset;
    object-fit:          cover;
    opacity:             1;
    position:            relative;
    width:               100%;
}
.video-wrapper::after {
    bottom:              0;
    content:             '';
    height:              100%;
    left:                0;
    position:            fixed;
    right:               0;
    top:                 0;
    width:               100%;
    z-index:             -1;
}

/* -- Homepage colour themes -- */
#home .btn-primary {
    color: #eee;
    background: #a0285e;
}
#home .video-wrapper video {
    filter:              grayscale(100%) brightness(20%) contrast(100%);
}
#home .video-wrapper::after {
    background-color:    #a0285e;
    mix-blend-mode:      color;
}
#home #section-one {
    background: linear-gradient(to bottom, rgba(186,75,125,1), rgba(160,40,94,1));
    color: #222;
    margin: 0;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: italic;
}
#home #section-one blockquote {
    color: #eee;
}
#home #section-one blockquote footer {
    color: #000;
}

/* -- Reputation colour themes -- */
#reputation .btn-primary {
    color: #222;
    background: #fff;
}
#reputation .video-wrapper video {
    filter:              grayscale(100%) brightness(30%) contrast(95%);
}
#reputation .video-wrapper::after {
    background-color:    #f47606;
    mix-blend-mode:      color;
}
#reputation #section-one {
    background: linear-gradient(to bottom, rgba(247,123,0,0.8), rgba(227,96,0,0.8) );
    color: #111;
}
.nav-panel {
    background: rgba(10,10,10,1);
    color: rbga(255,255,255,1);
    display: flex;
    flex-direction: column;
}
#section-one .nav-panel-content h2 {
    margin-bottom: 0.5em;
}
#section-one .nav-panel-content p {
    margin-top: 0.5em;
    color: #999;
}
#section-one .nav-panel-footer {
    flex: none;
}
.nav-panel-content {
    flex: 1;
}
.nav-panel-content img {
    width: 100%;
    border: 10px solid #efefef;
    margin-bottom: 3em;
}
