body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .primary-action {
    font-family: 'Roboto Mono', cursive;
}

/* Headings */
h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 span {
    display: block;
    font-size: 0.5em;
    margin: 0.7em 0;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #efefef !important;
}
/* Navbar modifiers */

.no-margin {
    margin: 0;
}

/* Background video */
video#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}

/* Links and buttons */
a, a:active, a:visited {
    color: #1d70b8;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    border: 0;
    background: #b3035e;
    padding: 1em 1.5em;
    display: inline-block;
    margin: 1.5em 0 0;
    border-radius: 0;
    width: auto;
}

/* Main banner */

.jumbotron {
    background: transparent;
}
.jumbotron h1 {
    font-size: 4.5em;
}
.jumbotron p {
    font-size: 1.2em;
}
.bg-box {
    background: rgba(0,0,0,0.7);
    padding: 2em 4em;
    border: 2px solid #fff;
    color: #efefef !important;
    font-size: 0.9em;
    width: 75%;
    margin: 9em auto;


}

/* Section 1 */

#section-one {
    background: #b3035e;
    color: #222;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: italic;
    padding: 8em 0;
}

#section-one blockquote {
    color: #fff;
    font-size: 2.5em;
    border: 0;
}

#section-one blockquote footer {
    color: #000;
}

#section-two {
    padding: 8em 0;
    background: rgba(17,17,17,0.9);
}


.img-wrapper {
    background-color:    #000;
    display:             flex;
    flex:                1 1 100%;
    height:              100%;
    overflow:            hidden;
    padding:             1%;
    position:            relative;
}

.img-wrapper video {
    filter:              grayscale(100%) brightness(50%);
    flex:                1 0 100%;
    height:              100%;
    max-width:           100%;
    mix-blend-mode:      unset;
    object-fit:          cover;
    opacity:             1;
    position:            relative;
    width:               100%;
}

.img-wrapper::after {
    background-color:    #d8a8c6;
    bottom:              0;
    content:             '';
    height:              100%;
    left:                0;
    mix-blend-mode:      color;
    position:            fixed;
    right:               0;
    top:                 0;
    width:               100%;
    z-index:             -1;
}